PORT=4000
API_PORT=4000
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174,https://assetsweber.com,https://www.assetsweber.com
MONGODB_URI=mongodb+srv://yashmalik015_db_user:TIHJvglnODWAHuah@cluster0.dqhp8cg.mongodb.net/assetsweber?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=assetsweber
TEAM_ACCESS_ID=1234567890
TEAM_ACCESS_PASSWORD=admin123
MAX_UPLOAD_GB=3
RAZORPAY_KEY_ID=<your_razorpay_key_id>
RAZORPAY_KEY_SECRET=<your_razorpay_key_secret>