PORT=4000
API_PORT=4000
CORS_ORIGIN=https://assetsweber.com,https://www.assetsweber.com
MONGODB_URI=mongodb://yashmalik015_db_user:<VPyE0KcI35EXtfH1>@ac-ti3dp4c-shard-00-00.dqhp8cg.mongodb.net:27017,ac-ti3dp4c-shard-00-01.dqhp8cg.mongodb.net:27017,ac-ti3dp4c-shard-00-02.dqhp8cg.mongodb.net:27017/?ssl=true&replicaSet=atlas-mnjllm-shard-0&authSource=admin&appName=Cluster0
MONGODB_DB=assetsweber
TEAM_ACCESS_ID=1234567890
MAX_UPLOAD_GB=3
RAZORPAY_KEY_ID=<your_razorpay_key_id>
RAZORPAY_KEY_SECRET=<your_razorpay_key_secret>
